<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InboxCleaner</title>
    <!-- Add any additional styling or external CSS links here -->
</head>

<body>
    <div>
        <h1 style="text-align: center; font-weight: bold;">InboxCleaner</h1>
        <p style="text-align: center;">Move your old unread emails to trash</p>
        <div style="text-align: center; margin-top: 20px;">
            <a href="{% url 'get_gmail_service' %}">
                <button style="padding: 10px 20px; font-size: 16px;">Get Started</button>
            </a>
        </div>
    </div>
</body>

</html>

